process {

    // Default fallback for unlisted processes (optional)
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Prevent publishing for DOWNLOAD_CGMLST_SCHEMA
    withName: 'FETCH_CGMLST_SCHEMAS' {
        publishDir = [
            path: '/dev/null',
            enabled: false
        ]
    }
    withName: 'DOWNLOAD_CGMLST_SCHEMA' {
        publishDir = [
            path: '/dev/null',
            enabled: false
        ]
    }

    withName: 'UNZIP_CGMLST_SCHEMA' {
        publishDir = [
            path: '/dev/null',
            enabled: false
        ]
    }
    withName: 'CONFIGURE_CGMLST_SCHEMA' {
        publishDir = [
            path: { "${params.outdir}/cgmlst_schemas/" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UPDATE_CGMLST_FILE' {
        publishDir = [
            path: { "${params.outdir}/cgmlst_schemas/" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
