/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:CHEWBBACA_ALLELECALL' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:CHEWBBACA_JOINPROFILES' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:SUBSET_LIMS' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:REPORTREE_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/ReporTree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
}
