process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:CHEWBBACA_ANALYSIS:CHEWBBACA_ALLELECALL' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:CHEWBBACA_JOINPROFILES' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:SUBSET_LIMS' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:DEDUPLICATE_ALLELES' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:REPORTREE_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/ReporTree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:CLEAN_FASTA' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:SUBSET_LIMS_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:REPORTREE_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/ReporTree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:MASHTREE_CORGE_NPR:MASHTREE' {
        publishDir = [
            path: { "${params.outdir}/${species}/mash/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS_NPR:BACTERIAL_LINKAGE' {
        publishDir = [
            path: { "${params.outdir}/${species}/linkage_analysis/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS_NPR:UPDATE_MASTER_MANIFEST' {
        publishDir = [
           path: { "${params.outdir}/updated_master/" }, //enabled: false
           mode: 'copy',
           saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS_NPR:GET_BEST_PARTITION' {
        ext.previous_results = 'False' //'False'
        publishDir = [
            path: { "${params.outdir}/${species}/linkage_analysis/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS_NPR:GET_BEST_PARTITION_NPR' {
        publishDir = [
            path: { "${params.outdir}/${species}/linkage_analysis/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS_NPR:CONCAT_BEST_PARTITIONS' {
        publishDir = [
            path: { "${params.outdir}/new_partitions/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
}
