process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'SAMPLESHEET_CHECK_RM' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'SAMPLESHEET_CHECK_CGMLST' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'DELETE_ASSEMBLIES' {
        publishDir = [
            enabled: false
        ]
    }  
    withName: 'CHECK_METADATA' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'CHECK_METADATA_MSA' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }  
    withName: 'REMOVE_FROM_PARTITIONS' {
        publishDir = [
            enabled: false
        ]
    }
    withName: 'REMOVE_FROM_ALLELES' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/masked" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
        withName: 'CHEWBBACA_COMPUTEMSA' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'IQTREE_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/tree/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'CONSTANT_SITES_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/tree/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'ROOT_TREE_CGMLST' {
        ext.args_extension = 'cgmlst_snp'
        publishDir = [
            path: { "${params.outdir}/${species}/tree/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'REPORTREE_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'PARSNP' {
        ext.args = ""
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'CLEAN_FASTA' {
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: SNPDISTS {
        ext.args_extension =''
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CONVERT_XMFA_FASTA' {
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'REPORTREE_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'IQTREE_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/tree/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'CONSTANT_SITES_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/tree/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'ROOT_TREE_PARSNP' {
        ext.args_extension = 'parsnp'
        publishDir = [
            path: { "${params.outdir}/${species}/tree/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MASHTREE' {
        publishDir = [
            path: { "${params.outdir}/${meta.species}/mashtree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'ROOT_TREE_MASHTREE' {
        ext.args_extension = 'mash'
        publishDir = [
            path: { "${params.outdir}/${meta.species}/mashtree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MICROREACT_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/microreact/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MICROREACT_SNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/microreact/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'BACTERIAL_LINKAGE' {
        publishDir = [
            path: { "${params.outdir}/${species}/linkages/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'CLUSTER_SELECTION' {
        publishDir = [
            path: { "${params.outdir}/${species}/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MAKE_POODLE_MANIFEST' {
        publishDir = [
            path: { "${params.outdir}/${species}/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MAKE_POODLE_MANIFEST_MASTER' {
        publishDir = [
            path: { "${params.outdir}/${species}/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
}
