process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*:CHEWBBACA_ANALYSIS:CHEWBBACA_ALLELECALL' {
        publishDir = [
            enabled: false
            // path: { "${params.outdir}/${species}/cgMLST/" },
            // mode: 'copy',
            // saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:CHEWBBACA_JOINPROFILES' {
        publishDir = [
            enabled: false
            // path: { "${params.outdir}/${species}/cgMLST/" },
            // mode: params.publish_dir_mode,
            // saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:SUBSET_LIMS' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:DEDUPLICATE_ALLELES' {
        publishDir = [
            path: { "${params.outdir}/${species}/cgMLST/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:CHEWBBACA_ANALYSIS:REPORTREE_CGMLST' {
        publishDir = [
            path: { "${params.outdir}/${species}/ReporTree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/parsnp/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:CLEAN_FASTA' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:SUBSET_LIMS_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/metadata/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:PARSNP_ANALYSIS:REPORTREE_PARSNP' {
        publishDir = [
            path: { "${params.outdir}/${species}/ReporTree/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:MASHTREE_CORGE:MASHTREE' {
        publishDir = [
            path: { "${params.outdir}/${meta.species}/mash/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS:BACTERIAL_LINKAGE' {
        publishDir = [
            path: { "${params.outdir}/${species}/linkage_analysis/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS:UPDATE_MASTER_MANIFEST' {
        publishDir = [
           path: { "${params.outdir}/updated_master/" }, //enabled: false
           mode: 'copy',
           saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS:GET_BEST_PARTITION' {
        publishDir = [
            path: { "${params.outdir}/${species}/linkage_analysis/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: '.*:LINKAGE_ANALYSIS:CONCAT_BEST_PARTITIONS' {
        publishDir = [
            path: { "${params.outdir}/new_partitions/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
}
