process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: 'MICROREACT' {
        publishDir = [
            path: { "${params.outdir}/${species}/microreact/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MICROREACT_ML' {
        publishDir = [
            path: { "${params.outdir}/${species}/microreact/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'BACTERIAL_LINKAGE' {
        publishDir = [
            path: { "${params.outdir}/${species}/linkages/" },
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'CLUSTER_SELECTION' {
        publishDir = [
            path: { "${params.outdir}/${species}/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MAKE_POODLE_MANIFEST' {
        publishDir = [
            path: { "${params.outdir}/${species}/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
    withName: 'MAKE_POODLE_MANIFEST_MASTER' {
        publishDir = [
            path: { "${params.outdir}/${species}/"},
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.yml') ? null : filename }
        ]
    }
}
