process {

    // Default fallback for unlisted processes (optional)
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // Prevent publishing for DOWNLOAD_CGMLST_SCHEMA
    withName: '.*:DOWNLOAD_CGMLST_SCHEMA' {
        publishDir = [
            path: '/dev/null',
            enabled: false
        ]
    }

    // Place CONFIGURE_CGMLST_SCHEMA outputs in cgmlst_schemas/
    withName: '.*:CONFIGURE_CGMLST_SCHEMA' {
        publishDir = [
            path: { "${params.outdir}/cgmlst_schemas/" },
            mode: 'copy',
            pattern: '*_cgMLST',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // Place UPDATE_CGMLST_FILE output ( .csv) in cgmlst_schemas/
    withName: '.*:UPDATE_CGMLST_FILE' {
        publishDir = [
            path: { "${params.outdir}/cgmlst_schemas/" },
            mode: 'copy',
            pattern: 'cgmlst_schemas_list.csv',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
